<si-bouncer *ngIf="preloader$ | async"></si-bouncer>


<div class="container-fluid" siInfiniteScroll (scroll)="loadMore()">
  <si-products-search [searchValue]="searchValue" (search)="search($event)"></si-products-search>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let product of products$ | async">
      <si-products-item [product]="product">
      </si-products-item>
    </div>
  </div>
</div>

