<img class="product-image" [src]="product.photo_details[0]?.photo || photoNotFound" alt="">
<div class="product-description">
  <span class="product-description__text">
    {{product.title}}
  </span>
  <span class="product-description__icon" [routerLink]="['/products', product.id]">
    <i class="fas fa-eye"></i>
  </span>
</div>
