:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 0.5rem 0;
  padding: 0 5px;
}

.product {
  &-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  &-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__text {
      width: 100%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__icon {
      font-size: 24px;
      cursor: pointer;
      &:hover{
        color: darkcyan;
      }
    }
  }
}
