<h3>Login</h3>
<form [formGroup]="loginForm" (submit)="login($event)">
  <si-input-container>
    <si-label>Email</si-label>
    <input type="email" siInput formControlName="email">
  </si-input-container>
  <si-input-container>
    <si-label>Password</si-label>
    <input type="password" siInput formControlName="password">
  </si-input-container>
  <span class="message">If you don't have account, you may register <a routerLink="/authorization/signup">here</a></span>
  <button class="btn btn-success submit-button">Login</button>
</form>
