<img class="user-photo" [src]="user?.photo?.photo || 'assets/img/defaultphoto.jpg'" alt="">
<div class="user-info">
  <span>{{user?.username}}</span>
  <small>{{user?.email}}</small>
</div>
<div class="user-actions">
  <button class="btn btn-success" *ngIf="!user" [routerLink]="['/authorization', 'login']">Login</button>
  <!--<button class="btn btn-primary" routerLink="/authorization/signup">Sign Up</button>-->
  <button class="btn btn-danger" *ngIf="user" (click)="logout.emit()">Logout</button>
</div>

