:host{
  display: flex;
  align-items: center;
}

.user-info{
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  color: whitesmoke;
}

.user-actions{
  display: flex;
  flex-direction: column;
}

.user-photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
