<h3>Sign Up</h3>
<form [formGroup]="signUpForm" (submit)="signUp($event)">
  <si-input-container>
    <si-label>Email</si-label>
    <input type="email" siInput formControlName="email">
  </si-input-container>
  <si-input-container>
    <si-label>Username</si-label>
    <input type="text" siInput formControlName="username">
  </si-input-container>
  <si-input-container>
    <si-label>Password</si-label>
    <input type="password" siInput formControlName="password">
  </si-input-container>
  <si-input-container>
    <si-label>Confirm Password</si-label>
    <input type="password" siInput formControlName="password_confirm">
  </si-input-container>
  <span class="message">If you already has account, you may login <a routerLink="/authorization/login">here</a></span>
  <button class="btn btn-success submit-button">Sign Up</button>
</form>
