:host{
  display: flex;
  flex-direction: column;
  padding: 1.487rem;
  max-width: 500px;
  margin: 0 auto;
}

form{
  display: flex;
  flex-direction: column;
}

h3{
  text-align: center;
}

.submit-button{
  max-width: 100px;
  width: 100%;
  margin: 1rem auto;
}

.message{
  align-self: center;
}
