<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="photo-placeholder" *ngIf="files?.length === 0">
        <div>Please add photo</div>
      </div>
      <si-carousel [slides]="files" (remove)="removeImage($event)" *ngIf="files?.length > 0">
      </si-carousel>
      <label for="photo" class="btn btn-primary">
        Upload<i class="fas fa-upload"></i>
      </label>
      <input type="file" multiple (change)="fileInput($event)" id="photo" name="photo">
    </div>
    <div class="col-md-6">
      <form [formGroup]="productForm" *ngIf="productForm" (submit)="submitProduct($event)">
        <si-input-container>
          <si-label>Title</si-label>
          <input type="text" siInput formControlName="title">
        </si-input-container>
        <si-input-container>
          <si-label>Price</si-label>
          <input type="text" siInput formControlName="price">
        </si-input-container>
        <si-input-container>
          <si-label>Description</si-label>
          <textarea type="text" siInput formControlName="description"></textarea>
        </si-input-container>
        <button class="btn btn-success">Create</button>
      </form>
    </div>
  </div>
</div>
