:host{
  padding: 1rem;
}
#photo{
  display: none;
}

.photo-placeholder{
  width: 400px;
  height: 400px;
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}
