:host{
  width: 100%;
  height: 60px;
  background: #2a8686;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo{
  width: 48px;
  height: 48px;
  cursor: pointer;
}
