<ngx-carousel [inputs]="carouselConfig" (onMove)="changeSlide()">
  <ngx-item NgxCarouselItem *ngFor="let slide of images; let i = index">
    <div class="slide" [ngStyle]="{'background-image':'url('+slide+')'}">
      <span class="remove" (click)="removeItem(i)">
        <i class="fas fa-times"></i>
      </span>
    </div>
  </ngx-item>
  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
