.slide {
  //height: 450px;
  width: 100%;
  height: calc(100vw * 0.3);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.remove{
  font-size: 24px;
  color: red;
  margin: 10px 10px 0 auto;
  cursor: pointer;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 0;
}

.ngxcarouselPoint li {
  display: inline-block;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.55);
  padding: 5px;
  margin: 0 3px;
  transition: .4s ease all;
}
.ngxcarouselPoint li.active {
  background: white;
  width: 10px;
}
