<div class="container">
  <div class="row">
    <div class="col-md-2">
      <span class="back-icon" routerLink="/products">
        <i class="fas fa-arrow-alt-circle-left"></i>
      </span>
    </div>
    <div class="col-md-10 text-center">
      <h3>{{(product$ | async)?.title}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <si-carousel [slides]="(product$ | async)?.photo_details"></si-carousel>
    </div>
    <div class="col-md-6">
      <div>
        <div>Price:</div>
        <div class="info">{{(product$ | async)?.price | currency}}</div>
      </div>
      <div>
        <div>Description:</div>
        <div class="info" [innerHtml]="(product$ | async)?.description"></div>
      </div>
    </div>
  </div>
</div>
