<ng-content select="si-label"></ng-content>
<ng-content></ng-content>
<div [siErrors]="control" class="input-errors" (hasError)="hasError($event)">
  <si-error key="required">This field is required</si-error>
  <si-error key="minlength">This field is too short</si-error>
  <si-error key="maxlength">This field is too long</si-error>
  <ng-content select="si-error"></ng-content>
</div>
