$width: 15px;
$height: 15px;

$bounce_height: 30px;

.wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: grey;
  opacity: 0.6;
  z-index: 9999;
}

.loading{
  align-self: center;
  margin: 0 auto;
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
